<!DOCTYPE html>

<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="~/Content/styles.css" rel="stylesheet" />
    @RenderSection("HeadContent", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/forms">
            <img src="/Images/Logo.png" alt="Computershare" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            @if ((Session["Layout"] != null && Session["Layout"].ToString() != "admin" && Session["IsFirstLog"].ToString() != "true") && Convert.ToInt32(Session["UserId"]) != 0 && Session["UserId"].ToString() != "" && Session["UserId"] != null)
            {
                <text>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/drps/add">DRP <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/supplementarydividends/add">Supplementary Dividend</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ails/add">AIL</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ra/review">Review</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/support">Support</a>
                        </li>
                        <li class="nav-item d-lg-none ">
                            <a class="nav-link" href="/changepassword">Change Password</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="/logout">Log Off</a>
                        </li>
                    </ul>
                    <a class="btn d-none d-lg-block mb-3 mb-md-0 ml-md-3" style="color:rgba(255,255,255,.5);" href="/changepassword">Change Password</a>
                    <a class="btn d-none d-lg-block mb-3 mb-md-0 ml-md-3" style="color:rgba(255,255,255,.5);" href="/logout">Log off</a>
                </text>
            }
            else if (Session["Layout"] != null && Session["IsFirstLog"].ToString() != "true" && Session["Layout"].ToString() == "admin" && (Session["UserRole"].ToString() == "Super User" || Session["UserRole"].ToString() == "Admin") && Convert.ToInt32(Session["UserId"]) != 0 && Session["UserId"].ToString() != "" && Session["UserId"] != null)
            {
                <text>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/main">Users<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/support">Support</a>
                        </li>
                        <li class="nav-item d-lg-none ">
                            <a class="nav-link" href="/changepassword">Change Password</a>
                        </li>
                        <li class="nav-item d-lg-none">
                            <a class="nav-link" href="/admin/logoutadmin">Log Off</a>
                        </li>
                    </ul>
                    <a class="btn d-none d-lg-block mb-3 mb-md-0 ml-md-3" style="color:rgba(255,255,255,.5);" href="/changepassword">Change Password</a>
                    <a class="btn d-none d-lg-block mb-3 mb-md-0 ml-md-3" style="color:rgba(255,255,255,.5);" href="/admin/logoutadmin">Log off</a>
                </text>
            }

        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="container form">
        <div class="col-lg-12">
            <hr />
            <p class="text-center">
                &copy; 2019 Computershare Investor Services Limited
            </p>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @RenderSection("Scripts", false)
    @RenderSection("ScriptContent", false)
    <script>
        // Restricts input for the set of matched elements to the given inputFilter function.
        (function ($) {
            $.fn.inputFilter = function (inputFilter) {
                return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                    if (inputFilter(this.value)) {
                        this.oldValue = this.value;
                        this.oldSelectionStart = this.selectionStart;
                        this.oldSelectionEnd = this.selectionEnd;
                    } else if (this.hasOwnProperty("oldValue")) {
                        this.value = this.oldValue;
                        this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                    } else {
                        this.value = "";
                    }
                });
            };
        }(jQuery));
        $(document).ready(function () {
            $(".numeric").inputFilter(function (value) {
                return /^\d*$/.test(value);    // Allow digits only, using a RegExp
            });
        });
    </script>
</body>
</html>
