@model TierraCreative.Model.DRP

@{
    ViewBag.Title = "DRP Review";
    Layout = "~/Views/Shared/Main.cshtml";
}

@if (ViewBag.IsView == "DRPReview")
{
    <h2>DRP Review</h2>

    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>DRP Review</h4>
            <hr />  

            <div class="form-group">
                @Html.Label("UserName", "UserName", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Raw(Session["UserName"])
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CSN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Raw(Session["CSN"])
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ISIN, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Raw(Session["ISIN"])
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DRPAmount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.Raw(Session["DRPAmount"])
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                    &nbsp;
                    <input id="Button1" type="button" value="Edit" onclick="window.location='add'" />
                </div>
            </div>
        </div>
    }
}
@if (ViewBag.IsView == "Acknowledgement")
{
    <h2>Acknowledgement</h2>
    <table>
        <tr>
            <td><input id="Button1" type="button" value="Submit another?" onclick="window.location='add'" /></td>
        </tr>
        <tr>
            <td><input id="Button2" type="button" value="Submit AIL?" onclick="window.location='../ails/add'" /></td>
        </tr>
        <tr>
            <td><input id="Button3" type="button" value="Submit Supplemantary Dividend?" onclick="window.location = '../supplementarydividends/add'" /></td>
        </tr>
        <tr>
            <td><input id="Button4" type="button" value="Sign out" onclick="window.location = '../signout'" /></td>
        </tr>
    </table>
}