@model TierraCreative.ViewModels.ReviewModel

@{
    ViewBag.Title = "Review/Approve";
    Layout = "~/Views/Shared/Main.cshtml";
}
    <h2>Review/Approve</h2>

@if (ViewBag.IsView == "" || ViewBag.IsView == null)
{
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <h4>Review/Approve</h4>
            <hr />
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.Source)

            <div class="form-group">
                @Html.DisplayNameFor(model => model.SubmittedBy)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.SubmittedBy)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.From)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.From)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.To)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.To)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.ISIN)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.ISIN)
                </div>
            </div>

            <div class="form-group">
                @Html.DisplayNameFor(model => model.Amount)
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.Amount)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Confirm" class="btn btn-default" />
                    &nbsp;
                    @*<input id="submit2" type="button" value="Delete" class="btn btn-default" />*@
                    @Html.ActionLink(
             "Delete",
             "Delete",
             new { id = Model.Id, source = Model.Source },
             new { onclick = "return confirm('Are you sure you wish to delete this entry?');", @class = "btn btn-primary btn-large" }) 
                    <br /><br />
                    <input id="button1" type="button" value="Cancel" class="btn btn-default" onclick="window.location = '/ra/review'" />
                </div>
            </div>
        </div>
    }
}
@if (ViewBag.IsView == "Approve") {
<h2>Confirmation</h2>
    <p>Thanks for your submission. You will receive a confirmation email shortly. </p>
    <input id="button1" type="button" value="Return to review" class="btn btn-default" onclick="window.location = '/ra/review'" />
}
@if (ViewBag.IsView == "Delete")
{
    <h2>Delete Confirmation</h2>
    <p>This entry has been successfully deleted!</p>
    <input id="button1" type="button" value="Return to review" class="btn btn-default" onclick="window.location = '/ra/review'" />
}