@model TierraCreative.Model.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Administrator.cshtml";
}
@section ScriptContent
{
    <script>
        $(function () {
            $("nav a:contains('Users')").parent().addClass("active");
        });
    </script>
}

<div class="col-lg-12 form">
    <h4>
        <p><small>Welcome <strong>(@Html.Raw(Session["UserName"]))</strong></small></p>
    </h4>
    <h2>View User</h2>
    <hr />
</div>
<div class="col-lg-12">
    <div class="form-horizontal">
        <div class="form-group row">
            @Html.LabelFor(model => model.Role.RoleName, "Role", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-6" })
            <div class="col-lg-4 col-sm-6">
                <input type="text" name="@Html.DisplayFor(model => model.Role.RoleName)" value="@Html.DisplayFor(model => model.Role.RoleName)" class="form-control" disabled="disabled" />
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(model => model.UserName, "Username", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-6" })
            <div class="col-lg-4 col-sm-6">
                <input type="text" name="@Html.DisplayFor(model => model.UserName)" value="@Html.DisplayFor(model => model.UserName)" class="form-control" disabled="disabled" />
            </div>
        </div>
        <div class="form-group row">
            @Html.LabelFor(model => model.Email, "Email", htmlAttributes: new { @class = "control-label col-lg-3 col-sm-6" })
            <div class="col-lg-4 col-sm-6">
                <input type="text" name="@Html.DisplayFor(model => model.Email)" value="@Html.DisplayFor(model => model.Email)" class="form-control" disabled="disabled" />
            </div>
        </div>

        @*<dt>
                @Html.DisplayNameFor(model => model.Password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsEnabled)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedById)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedById)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedById)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UpdatedById)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UpdatedDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UpdatedDate)
            </dd>*@
        <div class="form-group row">
            <label class="control-label col-lg-3 col-sm-6"></label>
            <div class="col-lg-4 col-sm-6">
                <a href="/admin/main"><button type="button" class="btn default"> Return</button></a>
            </div>
        </div>

    </div>
</div>
