@model IEnumerable<TierraCreative.Model.User>

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/Administrator.cshtml";
}
@section HeadContent
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <style>
        
        table thead th {
            color: #5791C2 !important;
        }

        #DataTables_Table_0_wrapper > div:nth-child(1), #DataTables_Table_0_wrapper > div:nth-child(3) > div.col-sm-12.col-md-5 {
            display: none !important;
        }
        footer {
            margin-top: 0;
        }
        table.dataTable th {
            border-bottom: 0;
            color: #347AB7;
            background: #F0F0F0;
            border: 2px solid #E9E9E9;
            border-left: 0;
            border-right: 0;
        }

        table tbody tr td {
            font-weight: 500;
        }
        .links a {
            color:#5791C2;
        }
        .pagination li a {
                color:#5791C2 !important;
            }

            .pagination li.active a {
                background: #5791C2 !important;
                border-color: #5791C2 !important;
                color: #ffffff!important;
            }

            table tbody tr td a {
                text-decoration: underline;
            }

        table tbody tr:last-of-type td {
            border-bottom: 1px solid #dee2e6;
        }

        .pagination {
            margin: 50px 0 !important;
        }

        #btn-add-user {
            margin-bottom: 1rem;
        }
        
    </style>
}
@section ScriptContent
{
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "pagingType": "numbers",
                "order": [],
                "columnDefs": [

                    { "orderable": false, "targets": 0 },
                    { "orderable": false, "targets": 1 },
                    { "orderable": false, "targets": 2 },
                    { "orderable": false, "targets": 3 }
                ]
            });

        });
    </script>
    <script>
        $(function () {
            $("nav a:contains('Users')").parent().addClass("active");
        });
    </script>
}
@if (ViewBag.IsView == "" || ViewBag.IsView == null)
{
    <div class="col-lg-12 form">
        <h4>
            <p><small>Welcome <strong>@Html.Raw(Session["UserFullName"])</strong> (@Html.Raw(Session["UserName"]))</small></p>
        </h4>
        <h2>Users</h2>
        <hr />
    </div>
    <div class="col-lg-12">
        <a href="/admin/create" class="btn default" id="btn-add-user">Create User</a>
        <div class="table-responsive-md">
            <table class="table table-condensed">
                <thead>
                    <tr>

                        <th>
                            Username
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Role.RoleName)
                        </th>
                        <th>
                            Status
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.Password)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsEnabled)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedById)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UpdatedById)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.UpdatedDate)
                            </th>*@
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role.RoleName)
                            </td>
                            <td>
                                @if (item.IsEnabled == true)
                                {
                                    <span style="color:#529330">@Html.Raw("Active")</span>
                                }
                                else
                                {
                                    <span style="color:red;">@Html.Raw("Disabled")</span>
                                }
                            </td>
                            <td class="links">
                                @if (Session["UserRole"].ToString() != "Client")
                                {
                                    if (Session["UserRole"].ToString() == "Admin")
                                    {
                                        if (item.Role.RoleName != "Super User")
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) <span>|</span>
                                            @Html.ActionLink("View", "Details", new { id = item.UserId }) <span>|</span>
                                            <a href="#" onclick="$('#confirm_delete').attr('href', '@Url.Action("DeleteConfirm", "admin", new { id = item.UserId })');" data-toggle="modal" data-target="#exampleModal">
                                                Delete
                                            </a>
                                        }
                                        else
                                        {
                                            @Html.Raw("<span style='color:gray;'>Edit</span> | ")
                                            @Html.Raw("<span style='color:gray;'>View</span> | ")
                                            <a href="#" onclick="$('#confirm_delete').attr('href', '@Url.Action("DeleteConfirm", "admin", new { id = item.UserId })');" data-toggle="modal" data-target="#exampleModal">
                                                Delete
                                            </a>
                                        }
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) <span>|</span>
                                        @Html.ActionLink("View", "Details", new { id = item.UserId }) <span>|</span>
                                        @*<a href="#" onclick="if (confirm('Are you sure you want to delete this user?')) { window.location.href = '@Url.Action("DeleteConfirm", "admin", new { id = item.UserId })'; }">Delete</a>*@
                                        <a href="#" onclick="$('#confirm_delete').attr('href', '@Url.Action("DeleteConfirm", "admin", new { id = item.UserId })');" data-toggle="modal" data-target="#exampleModal">
                                            Delete
                                        </a>
                                    }
                                }

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete User?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this user?
            </div>
            <div class="modal-footer">
                <a href="#" type="button" id="confirm_delete" class="btn btn-default">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
@if (ViewBag.IsView == "Deleted")
{
    <div class="col-lg-12 form">
        <h4>
            <p><small>Welcome <strong>@Html.Raw(Session["UserFullName"])</strong> (@Html.Raw(Session["UserName"]))</small></p>
        </h4>
        <h2>Delete User Confirmation</h2>
        <hr />
    </div>
    <div class="col-lg-12 form">
        @if (ViewBag.with_transaction == true)
        {
            @:<p>Unable to deleted user with transaction.</p>
        }
        @if (ViewBag.IsAllowed == true && ViewBag.with_transaction==false)
        {

            @:<p>The user has been successfully deleted.</p>
        }
        else if (ViewBag.IsAllowed != true)
        {
            @:<p>Unable to delete Super admin user</p>
        }
        <input id="button1" type="button" value="Return to user list" class="btn default" onclick="window.location = '/admin/main'" />
    </div>

}
